<nav>
    <div class="site-title">
        <a href="/"> <h1> DevSpot </h1> </a>
        <p>Decode the Dev World</p>
    </div>
    
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Add Blogs</a></li>
    </ul>
</nav>