<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    
    <%- include ('./partials/nav.ejs') %>
    
    <div class="About content">
        <h2>About Us</h2>
        <p>Welcome to DevSpot, your go-to destination for everything development!</p>
        <p>At DevSpot, we believe that coding is more than just writing lines of code—it’s about solving problems, innovating, and creating experiences that shape the digital world. This blog is a space where developers, tech enthusiasts, and learners come together to explore, share, and grow.</p>
        
    </div>
    
    <%- include ('./partials/footer.ejs') %>
</body>
</html>